#wrap {
  .page1-wrap {
    .main-wrap-bg {
      .info {
        p:nth-child(1) {
          animation: scaleIn .3s linear both;
        }
        p:nth-child(2) {
          animation: fadeInUp 1s .3s ease both;
        }
        p:nth-child(3) {
          animation: fadeIn .8s  1s ease both;
        }
        p:nth-child(4) {
          animation: scaleIn .8s  1.2s ease-in both;
        }
      }
    }
  }

  .page2-wrap.action {
    img[alt=pic] {
      animation: scaleIn 1s ease both;
  }
    img[alt=tips] {
      animation: fadeInUp 1s  ease both;
    }
    img[alt=center] {
      animation: fadeInDown 1s ease both;
    }
    .form-info {
      animation: fadeIn 1s 0.5s ease both;
    }
  }
  .page3-wrap {

  }
  .page4-wrap {
    .animate-wrap {
      p {
        animation: rotate 2s linear infinite;
      }
    }
  }
  .page5-wrap {
    p:nth-child(1){
      animation: scaleIn .3s linear both;
    }
    p:nth-child(2){
      animation: fadeInUp 1s .3s ease both;
    }
    p:nth-child(3){
      animation: fadeIn .8s  1s ease both;
    }
    p:nth-child(4){
      animation: scaleIn .8s  1.2s ease-in both;
    }
    p:nth-child(5){
      animation: fadeInUp 1s .3s ease both;
    }
  }
  .page6-wrap {
    p:nth-child(1){
      animation: scaleIn .3s linear both;
    }
    p:nth-child(2){
      animation: fadeInUp 1s .3s ease both;
    }
    p:nth-child(3){
      animation: fadeIn .8s  1s ease both;
    }
    p:nth-child(4){
      animation: scaleIn .8s  1.2s ease-in both;
      img[alt=finger] {
        animation: move 2s infinite;
      }
    }
  }
}





@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate(0,100%);
  }
  to {
    opacity: 1;
    transform: translate(0,0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate(0, -100%);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes move {
  from {
    -webkit-transform: translate3d(100%, 100%, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}