/*css reset*/

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
html {
    background-color: #ffc711;
}



/*pagecss*/


#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#main-content {
    border: 2px solid rgba(255,255,255,.5);
    background-color: rgba(255,255,255,.3);
    border-radius: 10px;
    display: flex;
}
#main-content>li {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    border: 1px solid rgba(255,255,255,.5);
    border-top: none;
    border-bottom: none;
}
#main-content>li:first-child{
    border-left: none;
}
#main-content>li:last-child{
    border-right: none;
}
#main-content>li>p:first-of-type {
    font-size: 20px;
}

#message>p:first-child {
    font-size: 50px;
}
#message>p:last-child {
    font-weight: bold;
}

#message {
    margin: 10px;
}
