* {
    margin: 0;
    padding: 0;
}
#background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffc711;
    z-index: -1;
}
#main-content {
    width: 800px;
    height:550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid black;
}