.h1 {
    width: 200px;
    height: 300px;
    background: #d39b2a;
}

.h2 {
    width: 200px;
    height: 250px;
    background: #6c7ed3;
}

.h3 {
    width: 200px;
    height: 200px;
    background: #d36573;
}

.h4 {
    width: 200px;
    height: 150px;
    background: #56d393;
}

#waterfall {
    position: relative;
}

#waterfall>div {
    margin: 5px;
    position: absolute;
    transition: all .8s
}