
#wrap {

  .page1-wrap {
    .xianglu.animate {
      animation: xianglu .5s steps(1,start) infinite alternate both;
    }
  }

  .page3-wrap {
    .flag.animate {
      animation: flag .5s steps(1,start) infinite alternate both
    }
  }
  .page6-wrap {
    .nihong {
      animation: nihong .5s infinite steps(1) alternate both;
    }
  }

  .finger {
    animation: fingerBlink 1s infinite linear alternate both;
  }
  .tip-icon {
    animation: tipScale 1s infinite linear alternate both;
  }

}

@keyframes flag {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: -133px 0;
  }
  50% {
    background-position: -266px 0;
  }
  75% {
    background-position: -399px 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes tipScale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes fingerBlink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes nihong {
  0% {
    background-position: 0 0 ;
  }
  50% {
    background-position: -330px 0 ;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes xianglu {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -201px 0;
  }
  100% {
    background-position: -402px 0;
  }
}